<h1>Items index</h1>



<%= form_tag(items_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search items" %>
  <%= submit_tag "Search" %>
<% end %>


<% unless @items.nil? %>
<ul>
<% @items.each do |item| %>
        <li> <%= item.product_title %> <%= link_to 'View details', item_path(item) %> </li>
        <% end%>
<% else %>
    <p>No items searched yet </p>
<% end%>
