<h2> <%= @item.product_title %> </h2>

<ul>
    <li>Serial number: <%= @item.serial_number %> </li>
    <li>Unit: <%= @item.unit %></li>
    <li>LOT number: <%= @item.lot_number %> </li>
    <li>Expiration date: <%= @item.expiration_date %></li>
    <li>Product code: <%= @item.product_code %> </li>
    <li>Status: <%@item.status %> </li>
    <li>Status update timestamp: </li>
    

    </ul>