<h2> <%= @item.product_title %> </h2>

<ul>
    <li>Serial number: <%= @item.serial_number %> </li>
    <li>Unit: <%= @item.unit %></li>
    <li>LOT number: <%= @item.lot_number %> </li>
    <li>Expiration date: <%= @item.expiration_date %></li>
    <li>Product code: <%= @item.product_code %> </li>
    <li>Status: <%= @item.status %> </li>
    <% unless @item.status_updated_at.nil? %>
    <li><%= @item.status %> at: <%= @item.status_updated_at %></li> 
    <% end %>
    

</ul>


<% if @item.status == 'Commissioned' %>
<%= form_with model: @item do |f| %>

  
    <div class="field">
        <h3>Change item status</h3>
    

    <%= f.radio_button :status, 'Sampled' %> 
    <%= f.label :status, 'Sampled', value: 'Sampled' %>

    <%= f.radio_button :status, 'Destroyed' %> 
    <%= f.label :status, 'Destroyed', value: 'Destroyed' %>


     <%= f.hidden_field :status_updated_at, value: Time.now.strftime("%d/%m/%Y %H:%M") %> 
  </div>

  

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>

  <% end %>

  <% end %>