<!DOCTYPE html>
<html>
  <head>
    <title>Pharmarails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav> 
      <div id='navbar-contents-container'> 
        <h1>Pharmarails</h1>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
        <%= link_to 'Home', items_path%>
        <%= link_to 'New Item', new_item_path%>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
